In [ ]:
#Que1
marks = int(input("enter a marks "))
if marks >90:
  print ("Grade A")
elif marks >80 and marks <=90:
  print ("Grade B")
elif marks >=60 and marks <=80:
  print ("Grade C")
else:
   print ("Grade D")

enter a marks 81
Grade B

In [ ]:
# Que 2
cost_price = int(input("enter cost price in Rs "))
if cost_price >100000:
  print ("Tax is 15%")
elif cost_price >50000 and cost_price <= 100000:
  print ("Tax is 10%")
else:
  print ("Tax is 5%")

enter cost price in Rs 120000
Tax is 15%

In [ ]:
#Que 3
city = str(input("enter city name "))
if city =="Delhi":
  print ("Monument is Red Fort")
elif city =="Agra":
   print ("Monument is Taj Mahal")
elif city =="Jaipur":
   print ("Monument is Jal Mahal")
else:
  print ("no information")

enter city name Delhi
Monument is Red Fort

In [14]:
#Que4
n = int(input())
if n%3!=0:
  print("entered number is not divisible by 3")
if n%3 ==0 and n >10 :
  count = 0
  while (n>10):
    n=n/3
    count +=1
  print ("the number can be divided ",count ,"times")

if n%3 == 0 and n<10 and n>0:
  print ("the number can be divided 1 time only ")

222
the number can be divided  3 times


Que5 -why and how to use while loop in python give detailed description with example


Ans - Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.

Syntax: 

while expression:
    statement(s)

While loop falls under the category of indefinite iteration. Indefinite iteration means that the number of times the loop is executed isnâ€™t specified explicitly in advance. 

Statements represent all the statements indented by the same number of character spaces after a programming construct are considered to be part of a single block of code. Python uses indentation as its method of grouping statements. When a while loop is executed, expr is first evaluated in a Boolean context and if it is true, the loop body is executed. Then the expr is checked again, if it is still true then the body is executed again and this continues until the expression becomes false.

In [7]:
#EXAMPLE
# Python program to illustrate
# while loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello world")

Hello world
Hello world
Hello world

In [9]:
#Que 6
# Use nested while loop to print 3 different pattern 
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows : 4
*
* *
* * *
* * * *

In [10]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows : 5
* * * * *
* * * *
* * *
* *
*

In [11]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows : 8
  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28
 29  30  31  32  33  34  35  36

In [13]:
#Que 7
#reverse a while loop to display number from 10 to 1
i=10 
while i>0:
  print (i)
  i-=1

10
9
8
7
6
5
4
3
2
1