Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

mongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. 

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. For example, data may be stored as simple key/value pairs, as JSON documents, or as a graph consisting of edges and vertices.

noSQL databases like MongoDB are a good choice when your data is document-centric and doesn’t fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.

MongoDB is the most popular of the new breed of non-relational NoSQL databases. Specifically, it’s a document database, also called a document-oriented database or a document store.

Documents hold semistructured data, usually represented in a format like JSON or XML, and each document is associated with a unique key.
Key values are typically a path or a URI that can be used to retrieve the associated document from the database.
The keys are indexed, making it efficient to retrieve the associated documents.

Q2. State and Explain the features of MongoDB.

features of MongoDB –
 
Schema-less Database: It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [1]:
import pymongo

In [4]:
client = pymongo.MongoClient("mongodb+srv://spkalunge:kalunge@cluster0.buz74wa.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [5]:
db

Database(MongoClient(host=['ac-rdur23u-shard-00-01.buz74wa.mongodb.net:27017', 'ac-rdur23u-shard-00-00.buz74wa.mongodb.net:27017', 'ac-rdur23u-shard-00-02.buz74wa.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-on7pam-shard-0', tls=True), 'test')

In [6]:
client = pymongo.MongoClient("mongodb+srv://spkalunge:kalunge@cluster0.buz74wa.mongodb.net/?retryWrites=true&w=majority")

In [7]:
db = client['spkalunge']

In [8]:
data = {"name" : "sudh" , 
        "class" :"data science masters " ,
        "time" : "flexi"}

In [9]:
coll_pwskills = db["my_record"]

In [10]:
coll_pwskills.insert_one(data)

In [17]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [18]:
coll_pwskills.insert_many(data2)

In [19]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [20]:
coll_pwskills.insert_many(list_of_records)

In [21]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('64045b796f3f48fd280599c2'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64045c756f3f48fd280599c3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64045c756f3f48fd280599c4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64045c756f3f48fd280599c5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64045c756f3f48fd280599c6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64045c756f3f48fd280599c7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64045c756f3f48fd280599c8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64045c756f3f48fd280599c9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64045c756f3f48fd280599ca'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64045c756f3f48fd280599cb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64045c756f3f48fd280599cc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64045c756f3f48fd280599cd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64045c756f3f48fd280599ce'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64045c996f3f48fd280599cf'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64045c996f3f48fd280599d0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64045c996f3f48fd280599d1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [23]:
for i in coll_pwskills.find_one():
    print(i)

_id
name
class
time

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record.

In [24]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('64045b796f3f48fd280599c2'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64045c756f3f48fd280599c3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64045c756f3f48fd280599c4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64045c756f3f48fd280599c5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64045c756f3f48fd280599c6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64045c756f3f48fd280599c7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64045c756f3f48fd280599c8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64045c756f3f48fd280599c9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64045c756f3f48fd280599ca'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64045c756f3f48fd280599cb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64045c756f3f48fd280599cc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64045c756f3f48fd280599cd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64045c756f3f48fd280599ce'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64045c996f3f48fd280599cf'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64045c996f3f48fd280599d0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64045c996f3f48fd280599d1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively.

If a sort returns the same result every time we perform on same data, then such type of sort is known as a stable sort. 
If a sort returns a different result every time we perform on same data, then such type of sort is known as unstable sort.
MongoDB generally performs a stable sort unless sorting on a field that holds duplicate values.  
We can use limit() method with sort() method, it will return first m documents, where m is the given limit.
MongoDB can find the result of the sort operation using indexes.
If MongoDB does not find sort order using index scanning, then it uses top-k sort algorithm.

In [59]:
data3 =[
        {"name":"rushi","age":24},
        {"name":"sam","age":26},
        {"name":"ravi","age":27},
        {"name":"suraj","age":28}
]

In [60]:
student=db["details"]
student.insert_many(data3)

In [61]:
for i in student.find():
    print(i)

{'_id': ObjectId('64046cac6f3f48fd280599d2'), 'name': 'suraj', 'age': 28}
{'_id': ObjectId('64046daf6f3f48fd280599d3'), 'name': 'rushi', 'age': 24}
{'_id': ObjectId('64046daf6f3f48fd280599d4'), 'name': 'sam', 'age': 26}
{'_id': ObjectId('64046daf6f3f48fd280599d5'), 'name': 'ravi', 'age': 27}
{'_id': ObjectId('64046daf6f3f48fd280599d6'), 'name': 'suraj', 'age': 28}
{'_id': ObjectId('64046faf6f3f48fd280599d7'), 'name': 'rushi', 'age': 24}
{'_id': ObjectId('64046faf6f3f48fd280599d8'), 'name': 'sam', 'age': 26}
{'_id': ObjectId('64046faf6f3f48fd280599d9'), 'name': 'ravi', 'age': 27}
{'_id': ObjectId('64046faf6f3f48fd280599da'), 'name': 'suraj', 'age': 28}

In [62]:
db.student.find().sort({age:1})

NameError: ignored

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Delete_many()
Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted

Drop() function. The drop() function is used to remove a set of labels from a row or column. We may exclude rows or columns by defining label names and matching axes or directly defining index or column names.